@media only screen and (max-width: 1300px) {
  .containerPI {
    height: 140vh;
  }
}

@media only screen and (max-width: 700px) {
  #mainNav {
    position: absolute;
    z-index: 99;
    background-color: #266294;
  }

  .hero-text {
    top: 68%;
    font-size: 0.8em;
  }

  .hero-text2 {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-bottom: 20px;
  }

  .container {
    height: auto;
  }

  .navbar.collapsed {
    display: none;
  }
  #navToggle {
    display: block;
  }
  #navToggleIndex {
    display: block;
  }
  li {
    display: block;
    border-bottom: 1px solid white;
  }
}
